extends layout

block vars
    - let title = '火星人科技'

block content
    #banner.spch(style="background-image: url('/public/images/introduce/54d4873280f33.jpg')")
        .side-nav
            a.toggle(href='javascript:;', toggle-status='close')
                | MENU 
                i.fa.fa-navicon
            ul.nav
                li
                    a(href='#') 集团介绍
                li
                    a(href='#') 集团文化
                li
                    a(href='#') 发展历程
                li
                    a(href='#') 组织架构
                li
                    a(href='#') 集团环境
                li
                    a(href='/') 清谷科技首页
                li
                    a.gotop(href='javascript:;')
                        i.fa.fa-angle-up
    #main1
        .container
            .border-radius
            .heading01
                .line
                h2
                    span.en.gr COMPANY  INTRODUCTION
                    span.ch
                        | 集团
                        b.red 介绍
        .box-content
            .container
                .clearfix
                .text-content
                    p 清谷科技集团起源于2011年，集团总部位于北京，是集资产管理与财富管理为一体的全方位综合金融服务商。
                        br
                        | 在快速发展的过程中，集团主要业态由私募股权投资，逐步向产业投资、私募证券投资、财富管理、基金销售、融资租赁、文化影视等领域扩展。

                        br
                        | 未来，集团将以金融服务为支撑，以产业投资为核心，加速产业资本与金融资本的自由转化，致力于成为产融结合的大型综合企业集团。
                        br
                        | 清谷科技投资控股集团有限公司历经多年稳步发展，截至目前，集团旗下已拥有清谷科技投资基金管理（北京）有限公司、清谷科技财富资产管理（北京）有限公司、清谷科技普惠基金管理有限公司、清谷科技金融信息服务（北京）有限公司、清谷科技融资租赁（上海）有限公司、清谷科技嘉信股权投资管理（上海）有限公司、清谷科技影业有限公司七家子公司，并参股投资多家高成长型企业，倾力打造金融行业卓越品牌。
                        br
                        | 在投资领域方面，清谷科技投资控股集团有限公司在新能源、金融、新材料、医疗保健产业、消费升级、文化创意及信息技术等国家战略新兴产业都有涉足，积极扶持国家新兴产业发展。在学术科研方面，清谷科技投资控股集团有限公司与中国社科院合作成立了私募基金研究课题组、中国社科院博士后科研基地，同时，在清谷科技投资控股集团有限公司内部还设立