#footer
    .footer01
        .container.clearfix
            ul.footerlink
                li
                    a(href='introduce') 关于我们
                li
                    a(href='customer') 业务介绍
                li
                    a(href='newslist') 媒体中心
                li
                    a(href='college') 清谷学院
                li
                    a(href='joblist') 招贤纳士
    .footer02
        .container.clearfix
            .copyright.pull-left
                span © 2018 火星云
                span 火星人信息科技有限公司
                span 桂ICP备15003644号-2
            .powered.pull-right
                a(href='#') Powered by 6duyun.com
    .imgModal