#header
    nav.navbar.navbar-style(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mb-navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img.logo(src='/public/images/head/logo1.png', alt='清谷科技控股集团有限公司', title='清谷科技控股集团有限公司')
            #mb-navbar.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/' ) 首页
                    li
                        a(href='customer' ) 业务介绍
                    li.dropdown
                        a.dropdown-toggle(href='newslist', role='button', data-toggle='dropdown') 媒体中心
                        ul.dropdown-menu
                            li
                                a(href='newslist') 媒体报道
                            li
                                a(href='newslist') 集团动态
                            li
                                a(href='newslist') 行业动态
                    li
                        a(href='newslist' ) 清谷视角
                    li
                        a(href='college') 清谷学院
                    li
                        a(href='joblist') 招贤纳士
                    li.dropdown
                        a.dropdown-toggle(href=' introduce', role='button', data-toggle='dropdown') 关于我们
                        ul.dropdown-menu
                            li
                                a(href=' introduce') 公司介绍
                            li
                                a(href=' presence') 公司风采
                            li
                                a(href='honor') 荣誉资质
                            li
                                a(href='cooper') 联盟合作
